<div class="linklist" {{ block.shopify_attributes }}>
  {%- if block.settings.footer_linklist_heading != '' -%}
  <h4 class="title">{{block.settings.footer_linklist_heading}}</h4>
  <div class="strip-line"></div>
  {%- endif -%}
  {%- if footer-block-linklist == '2' -%}
  {%- assign list = linklists[block.settings.footer_linklist] -%}
  {%- assign limit = list.links.size | plus:1 | divided_by:2 -%}
  <div class="row">
    <div class="col-sm-6">
      <ul>
        {%- for link in list.links limit:limit -%}
        <li><a href="{{link.url}}">{{link.title}}</a></li>
        {%- else -%}
        {%- for i in(1..3) -%}
        {%- if i == 3 -%}
        <li><a href="#">. . . . . .</a></li>
        {%- else -%}
        <li><a href="#">{{"Link Item " | append: i}}</a></li>
        {%- endif -%}
        {%- endfor -%}
        {%- endfor -%}
      </ul>
    </div>
    <div class="col-sm-6">
      <ul>
        {%- for link in list.links offset:limit -%}
        <li><a href="{{link.url}}">{{link.title}}</a></li>
        {%- else -%}
        {%- for i in(3..5) -%}
        {%- if i == 5 -%}
        <li><a href="#">. . . . . .</a></li>
        {%- else -%}
        <li><a href="#">{{"Link Item " | append: i}}</a></li>
        {%- endif -%}
        {%- endfor -%}
        {%- endfor -%}
      </ul>
    </div>
  </div>
  {%- else -%}
  <div class="clearfix">
    <ul>
      {%- assign list = linklists[block.settings.footer_linklist] -%}
      {%- for link in list.links -%}
      <li><a href="{{link.url}}">{{link.title}}</a></li>
      {%- else -%}
      {%- for i in(1..3) -%}
      {%- if i == 3 -%}
      <li><a href="#">. . . . . .</a></li>
      {%- else -%}
      <li><a href="#">{{"Link Item " | append: i}}</a></li>
      {%- endif -%}
      {%- endfor -%}
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}
</div>